<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <data android:scheme="mailto" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />





    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".JHAirTracker"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/jhairtrackericon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/jhairtrackericon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test">
        <activity
            android:name=".EditNoteActivity"
            android:exported="false" />
        <activity
            android:name=".ViewNoteActivity"
            android:exported="false" />
        <activity
            android:name=".AddNoteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Test"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:resizeableActivity="true"
            android:theme="@style/Theme.Test.NoActionBar" />

        <receiver
            android:name=".FlightInfo"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="YOUR_WIDGET_CLICK_ACTION" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/flight_info_info" />
        </receiver>

        <service
            android:name=".FlightInfoRemoteViewsService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS">
            <intent-filter>
                <action android:name="android.widget.RemoteViewsService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.flights.studio.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_EXTERNAL_STORAGE">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".DownloadAndInstall"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme.Theme"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme.Theme"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".Contact"
            android:configChanges="keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/Contact"
            android:screenOrientation="portrait"
            android:theme="@style/ContactTheme.Theme"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="false"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".OpenSplash"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/OpenTheme"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QRCodeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@style/Theme.Test" />
        <activity
            android:name=".LicensesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Test"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Test"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|uiMode"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Test"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".AllContactsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AllContactsActivity.Theme"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SplashActivity" />
        </activity>
        <activity
            android:name=".AllNotesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Test"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
    </application>

</manifest>