<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <data android:scheme="mailto" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="31" />



    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".JHAirTracker"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:fullBackupOnly="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/dicon"
        android:label="@string/app_name"
        android:pageSizeCompat="enabled"
        android:roundIcon="@drawable/watchos"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

        <receiver android:name=".ReminderReceiver" android:enabled="true" android:exported="false" />
        <activity

            android:name=".ReminderActivity"
            android:screenOrientation="fullSensor"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:exported="false"/>

        <activity android:name=".SoftwareUpdateActivity"
            android:hardwareAccelerated="true"
            android:exported="false"
            />

        <service
            android:name=".AppUpdateFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".LiquidGlassSettingsActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar"
            android:exported="false" />


        <activity android:name=".WebviewflightActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />

        <activity
            android:name=".LiveCamerasActivity"
            android:exported="false" />

        <activity
            android:name=".LiveCameraArchiveActivity"
            android:hardwareAccelerated="true"
            android:exported="false" />

        <activity
            android:name=".PlayerSettingsActivity"
            android:hardwareAccelerated="true"
            android:exported="false" />


        <activity
            android:name=".EditNoteComposeActivity"
            android:hardwareAccelerated="true"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Test" />

        <activity
            android:name=".ViewImageComposeActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme" />



        <activity
            android:name=".ProfileDetailsComposeActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar"
            android:exported="false" />





        <activity
            android:name=".IosPlayerActivity1"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize|keyboardHidden" />


        <activity android:name=".ImageViewerActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />



        <activity
            android:name=".ViewNoteComposeActivity"
            android:hardwareAccelerated="true"
            android:exported="false" />
        <activity
            android:name=".AddNoteComposeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>



        <activity
            android:name=".BackdropPlaygroundActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">



            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="flightsstudio"
                    android:host="resetdone"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="flightsstudio"
                    android:host="auth"
                    android:path="/login"/>
            </intent-filter>

        </activity>

        <activity-alias
            android:name=".DiconAlias"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/dicon"
            android:roundIcon="@drawable/dicon"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".WatchOsAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/watchos"
            android:roundIcon="@drawable/watchos"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ClearDarkAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/cleardark"
            android:roundIcon="@drawable/cleardark"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ClearLightAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/clearlight"
            android:roundIcon="@drawable/clearlight"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".DarkAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/dark"
            android:roundIcon="@drawable/dark"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".TintedDarkAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/tinteddark"
            android:roundIcon="@drawable/tinteddark"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".TintedLightAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/tintedlight"
            android:roundIcon="@drawable/tintedlight"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".GeneraliconAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/generalicon"
            android:roundIcon="@drawable/generalicon"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".WatchOsFAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/watchosf"
            android:roundIcon="@drawable/watchosf"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ClearDarkFAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/cleardarkf"
            android:roundIcon="@drawable/cleardarkf"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ClearLightFAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/clearlightf"
            android:roundIcon="@drawable/clearlightf"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".DarkFAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/darkf"
            android:roundIcon="@drawable/darkf"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".DiconFAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/diconf"
            android:roundIcon="@drawable/diconf"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".TintedDarkFAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/tinteddarkf"
            android:roundIcon="@drawable/tinteddarkf"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".TintedLightFAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/tintedlightf"
            android:roundIcon="@drawable/tintedlightf"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ExclusiveIconFAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/exclusiveicon"
            android:roundIcon="@drawable/exclusiveicon"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ClearDarkWinterAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/cleardarkwinter"
            android:roundIcon="@drawable/cleardarkwinter"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ClearLightWinterAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/clearlightwinter"
            android:roundIcon="@drawable/clearlightwinter"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".DarkWinterAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/darkwinter"
            android:roundIcon="@drawable/darkwinter"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".OriginalWinterAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/originalwinter"
            android:roundIcon="@drawable/originalwinter"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".TintedDarkWinterAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/tinteddarkwinter"
            android:roundIcon="@drawable/tinteddarkwinter"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".TintedLightWinterAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/tintedlightwinter"
            android:roundIcon="@drawable/tintedlightwinter"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".WatchOsWinterAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/watchoswinter"
            android:roundIcon="@drawable/watchoswinter"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 🔥 JH ICON PACK -->

        <activity-alias
            android:name=".ClearDarkJHAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/cleardarkjh"
            android:roundIcon="@drawable/cleardarkjh"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ClearLightJHAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/clearlightjh"
            android:roundIcon="@drawable/clearlightjh"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".DarkJHAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/darkjh"
            android:roundIcon="@drawable/darkjh"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".OriginalJHAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/originaljh"
            android:roundIcon="@drawable/originaljh"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".TintedDarkJHAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/tinteddarkjh"
            android:roundIcon="@drawable/tinteddarkjh"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".TintedLightJHAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/tintedlightjh"
            android:roundIcon="@drawable/tintedlightjh"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".WatchOsJHAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/watchosjh"
            android:roundIcon="@drawable/watchosjh"
            android:label="@string/app_name"
            android:targetActivity=".BackdropPlaygroundActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>



        <activity
            android:name=".AppIconPickerActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />

        <receiver
            android:name=".FlightInfo"
            android:exported="false">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.flights.studio.CLICK_ACTION"/>  <!-- ← this line -->
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/flight_info_info"/>
        </receiver>

        <receiver android:name=".com.flights.studio.ui.ReminderDismissReceiver"
            android:exported="false"/>



        <service
            android:name=".FlightInfoRemoteViewsService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS">
            <intent-filter>
                <action android:name="android.widget.RemoteViewsService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".EditProfileComposeActivity"
            android:exported="false" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.flights.studio.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme.Theme"
            android:windowSoftInputMode="adjustResize"
            android:hardwareAccelerated="true"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:enableOnBackInvokedCallback="true"
            android:theme="@style/Base.Theme.Test"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            tools:targetApi="tiramisu" />

        <activity
            android:name=".QRCodeComposeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@style/Theme.Test" />


        <activity
            android:name=".AllNotesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".NotesSettingsComposeActivity"
            android:exported="false" />

    </application>

</manifest>
